body {
    background-color: #f7f7f7;
}
#pickers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#drawing-stuff {
    max-width: 40vh;
    margin: auto;
}

#content {
    /*max-width: 128vh;*/
    //max-width: 40vh;
    //width: 50vw;
    margin: auto;
}

#tile-edit {
    width: 90%;
    //max-width: 40vh;
    margin: auto;
}

two-bit-canvas {
    width: 5vw;
    margin:1px;
}

two-bit-colour-picker {
    width: 70%;
    margin: auto;
}