two-bit-drawing#main {
    --height-ratio: calc(56.65 / 100);
    --width-ratio: calc(74.6 / 100);
    padding: calc(6.525% / var(--width-ratio)) calc(13.625% / var(--width-ratio));
    width: calc(47.35% / var(--width-ratio));
    background-color: grey;
    --small-radius-base: 2.54%;
    --big-radius-base: 10.56%;
    border-top-left-radius: calc(var(--small-radius-base) / var(--width-ratio)) calc(var(--small-radius-base) / var(--height-ratio));
    border-bottom-left-radius: calc(var(--small-radius-base) / var(--width-ratio)) calc(var(--small-radius-base) / var(--height-ratio));
    border-top-right-radius: calc(var(--small-radius-base) / var(--width-ratio)) calc(var(--small-radius-base) / var(--height-ratio));
    border-bottom-right-radius: calc(var(--big-radius-base) / var(--width-ratio)) calc(var(--big-radius-base) / var(--height-ratio));
}

body {
    background-color: #f7f7f7;
}

#content {
    /*max-width: 128vh;*/
    max-width: 50%;
    margin: auto;
}

two-bit-canvas {
    width: 5vw;
    margin:1px;
}

#tile-edit {
    width: 30%;
    margin: auto;
}