body {
    background-color: #f7f7f7;
}

#content {
    /*max-width: 128vh;*/
    max-width: 50%;
    margin: auto;
}

#tile-edit {
    width: 30%;
    margin: auto;
}

#content, #tile-edit {
    margin-bottom: 5%;
}

two-bit-canvas {
    width: 5vw;
    margin:1px;
}